@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&display=swap'); */


* {
	font-family: 'Lato', sans-serif;
	padding: 0;
}

.w100 {
	font-weight: 100;
}

.w300 {
	font-weight: 300;
}

.w400 {
	font-weight: 400;
}

.w700 {
	font-weight: 700;
}

.w900 {
	font-weight: 500;
}

body,
html {
	height: 100%;
}

.bg {
	background: #fff;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, .5) 80%, rgba(0, 0, 0, .5) 100%), url(../img/bg.jpg);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0;
	height: 100%;
	width: 100%;
	transition: 0.2s ease-in-out;
}

.search-wrapper {
	margin-top: 30vh;
	width: 60%;
}

.search-logo {
	text-align: center;
	color: #fff;
	font-size: 4rem;
	margin-bottom: 30px;
	z-index: 10;
}

.search-logo span {
	font-weight: 700;
}

.btn.btn-search {
	border-radius: 0;
	height: 50px;
	background: #fff;
	color: #000;
	border-top-right-radius: 34px;
	border-bottom-right-radius: 34px;
	padding-right: 20px;
	padding-bottom: 10px;
}

.search-input {
	border: 0;
	border-radius: 34px;
	padding-left: 20px;
}

.search-input:focus {
	border: 0;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-control {
	padding: 0.75rem auto;
}

.form-container {
	/* margin-top: 35vh; */
}

.main-nav li a {
	text-decoration: none;
	color: inherit;
	border-bottom: none;
}

.main-nav li {
	border-bottom: 3px solid transparent;
	font-size: 0.93em;
	transition: 0.2s;
}

.main-nav li:hover {
	border-color: white;
}

.main-nav li.active {
	border-color: white;
}

.main-nav li.active:hover {
	border-color: white;
}

.navbar {
	font-family: 'Lobster', cursive;
	list-style: none;
	color: #fff;
	font-size: 1.1em;
	justify-content: center;
}

.navbar-brand {
	font-size: 1.7em;
}

.nav-pills .nav-link.active {
	background-color: #327fc2;
}

.nav-link {
	color: #327fc2;
}

@media (min-width: 768px) {
	.navbar-menu {
		display: none;
	}
}

@media only screen and (max-width: 991px) {
	.search-wrapper {
		width: 80%;
	}
}

@media only screen and (max-width: 767px) {
	.remove {
		display: none;
	}

	.navbar {
		justify-content: left;
	}

	.navbar-menu {
		padding-top: 20px;
	}

	.search-logo {
		font-size: 2.5rem;
	}
}

@media only screen and (max-width: 575px) {
	.search-logo {
		font-size: 2rem;
	}
}