{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8"/>
    <meta name="author" content="alKitob">
    <meta name="description" content="Book exchange"/>

    <title> {% block title %} alkitob {% endblock title %} </title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
<!-- Navigation bar (header) -->
<div class="container-fluid">
    <div class="row">
        <nav role="navigation" class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse"
                            class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div>
                    <div id="navbarCollapse" class="collapse navbar-collapse">
                        <ul class="nav nav-pills nav-justified">
                            <li role="presentation" {% if section == 'search' %} class="active"{% endif %}>
                                <a href="{% url 'blogs:home' %}">Home</a>
                            </li>
                            <li role="presentation" {% if section == 'match' %} class="active"{% endif %}>
                                <a href="{% url 'blogs:post_list' %}">Posts</a>
                            </li>
                            <li role="presentation" {% if section == 'match' %} class="active"{% endif %}>
                                <a href="{% url 'blogs:post_create' %}">Create Post</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
    </div>
</div>

<main>
    <div class="container">
        <!--Content goes here-->
        {% block content %}
        {% endblock content %}
    </div>
</main>

<!-- Footer -->
<footer>
    <div class="container-fluid">
        <p class="text-center">
            <a href="{% url 'blogs:home' %}" style="color: white;">Eightsoft Team</a>
        </p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- AJAX setup -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
<script>
    var csrftoken = Cookies.get('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(document).ready(function () {
        {% block domready %}
        {% endblock %}
    });
</script>

</body>

</html>